/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:b70e440f5231627fb68f2e3b5bff14cf$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(hy.png);}

.HyperTerminal_1 {width:332px; height:299px; background-position: -685px -2px}
.HyperTerminal_2 {width:296px; height:300px; background-position: -685px -303px}
.HyperTerminal_3 {width:344px; height:407px; background-position: -2px -581px}
.HyperTerminal_4 {width:681px; height:577px; background-position: -2px -2px}
